torch==2.7.0
torchvision==0.22.0
torchmetrics==1.7.2
numpy==2.0.2
pandas==2.2.3
seaborn==0.13.2
scikit-learn==1.6.1
opencv-python==4.11.0.86
streamlit==1.45.1
albumentations==2.0.7
grad-cam==1.5.5
matplotlib==3.9.4